html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat',sans-serif;
  font-weight: 800;
  color: #FFFFFF;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1298px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  background-color: #000;
}

.menu {
  padding: 20px 0 25px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list-link {
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover{
  color: #C80A47;
  transition: 1s linear;
  font-size: 25px;
}

.header__content {
  background-image: url('../image/bc-fone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  text-align: center; 
  height: 100%;
}

.header__content-info {
  background-color: #000;
}

.title {
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #FD7D54;
  margin-bottom: 18px;
  padding-top: 50px;
}

.title__text  {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}

.header__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 95px;
}

.header__item {
  border: 4px solid #fff;
  padding: 46px 0 25px;
  max-width: 24%;
}

.header__item-img {
  display: block;
  margin: 0 auto;
}

.header__item-title {
  font-size: 27px;
  line-height: 33px;
  text-transform: uppercase;
  margin: 50px 0 46px;
  position: relative;
}

.header__item-title::after {
  content: '';
  position: absolute;
  bottom:0;
  left:45%;
  width:23px;
  margin-bottom: -24px;
  border-bottom: 3px solid #fff;
}

.header__item-text  {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
  padding: 0 33px;
  
}

.header__item-link {
  font-size: 19px;
  line-height: 23px;
  color: #41C3F7;
  margin-top: 25px;
  text-transform: uppercase;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text  {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  }